<!DOCTYPE html>
<html lang="en" xmlns="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
</head>
<body>
    <h3>Rellena el formulario</h3>

    <form th:action="@{/form}" method="post" th:object="${user}">

        <div>
            <label for="name">Name:</label>
            <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
            <div>
                <input type="text" id="name" th:field="*{name}">
            </div>
        </div>

        <div>
            <label for="lastName">Last Name:</label>
            <div th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>
            <div>
                <input type="text" id="lastName" th:field="*{lastName}">
            </div>
        </div>

        <div>
            <label for="username">Username:</label>
            <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
            <div>
                <input type="text" id="username" th:field="*{username}">
            </div>
        </div>

        <div>
            <label for="password">Password:</label>
            <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
            <div>
                <input type="password" id="password" th:field="*{password}">
            </div>
        </div>

        <div>
            <label for="email">Email:</label>
            <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
            <div>
                <input type="text" id="email" th:field="*{email}">
            </div>
        </div>

        <div>
            <div>
                <input type="submit" value="Enviar">
            </div>
        </div>



    </form>
</body>
</html>